.ad {
    width: 320px;
    height: 200px;
    margin: 20px 20px 0px 0px;
}

.spinner {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0;
}

header {
    text-align: center;    
}
