<products-sorter></products-sorter>

<section class="warehouse-products" infinite-scroll="loadProductsFromBuffer()">
    <products ng-repeat="product in products"></products>
</section>

<div class="spinner" ng-show="isGettingProducts">
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>

<div class="warehouse-end-catalogue" ng-if="finished">
    <span>~ end of catalogue ~</span>
</div>

<back-top scroll-speed=1200 class="arrow-top">
    <i class="fa fa-chevron-up"></i>
</back-top>